html{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
body{
	background-color: #dfdfdf;
}
.userbar{
	width: 150px;
	background-color: #f1f1f1;
	display: flex;
	flex-direction: column;
}
.userbar-item{
    font-size: 11px;
    text-align: center;
    color: #565656;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
}
.userbar-item i{
	font-size: 22px;
}
.userbar-item span{
	    margin-top: 8px;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.userbar-item:hover{
	background-color: #ececec;
}
.userbar-item.selected{
	background-color: white;
}
.content{
	padding: 10px 25px;
	flex-grow: 1;
}
.user{
	border-radius: 2px;
	background-color: white;
    display: flex;
    flex-direction: row;
}
.info{
	display: flex;
	flex-direction: row;
	margin: 20px 10px;
}
.info-label{
	width: 150px;
	font-size: 0.9em;
}
.value input[type=text]{
    border: solid 1px #bcbcbc;
    border-radius: 3px;
    padding: 8px 12px;
}
.value label{
	padding: 5px 0;
}
.info-label span{
	font-size: 13px;
	vertical-align: middle;
	letter-spacing: 0.3px;
}
.value{
	display: flex;
	flex-grow: 1;
}
.value select{
	padding: 5px 10px;
}
.value .col{
	width: 33%;
	margin-right: 10px;
}
.value label input{
	
}
.update{
	margin-left: 160px;
    padding: 8px 30px;
    background-color: #FFEB3B;
    color: #3a350e;
    border: none;
    font-size: 0.9em;
    font-weight: 500;
    font-family: "Roboto";
}